@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap");

:root {
	--sidebar-vw: 40vw;
	--text-opacity: 0.6;
	--h1-font-size: 1.6rem;
	/* --h1-font-size: min(72px, 2.3vw); */
	--h3-font-size: 1.4rem;
	--p-font-size: 0.8rem;
	--bg-aqua: aquamarine;
	--bg-green: chartreuse;
	--box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.25);
	--box-shadow-active: 1px 1px 7px rgba(0, 0, 0, 0.15);
	--bg-color: white;
	/* --bg: linear-gradient(to right, hsla(113, 100%, 72%, 0.196), rgba(48, 232, 6, 0.486)); */
	/* --bg: linear-gradient(to right, hsla(113, 100%, 72%, 0.196), #9efd3262); */

	--font-color: black;
	--white: white;
	--bold-txt: 900;
	/* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(117,86,204,1) 0%, rgba(213,105,167,1) 90% ); */
	/* --bg-grad-text: linear-gradient(268.67deg, rgb(254, 13, 13) 3.43%, rgb(144, 254, 0) 15.69%, rgb(188, 14, 236) 55.54%, rgb(8, 0, 4) 99%); */

	--bg-grad-text: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgb(0, 0, 0) 0%,
		rgba(117, 86, 204, 1) 45%,
		rgba(213, 105, 167, 1) 90%
	);

	/* --bg-grad-text: radial-gradient( circle farthest-corner at 10% 20%,  rgb(0, 0, 0) 0%,  #08AEEA 45%, #2AF598 90% ); */

	--font-name: 2.2rem;
	--letter-spacing: 1.4px;

	--minimal-border: 1.4px;
	--border-radius: 4.4px;

	--particle-color: #7556cc;
	--particle-shape-stroke: #ffffff;

	--content-width: calc(100vw - var(--sidebar-vw));
	--content-width-section: calc(var(--content-width) - 15vw);

	--content-padding: 2.5rem;

	--glass-card-bg: rgba(255, 255, 255, 0.55);
	--glass-blur: 1px;

	--border: 1px solid rgba(255, 255, 255, 1);

	--margin-setail-section: 30px 2px;

	/* theme button */
	--theme-bg-color: #2a2a2a;
	--theme-light-color: #00a6ff;
	--theme-light-sun-color: #ffcf48;
	/* theme button */

	--transition: background 0.3s ease;
}

body[data-theme="dark"] {
	color-scheme: dark;

	/* --sidebar-vw: 40vw; */
	/* --text-opacity: 0.6; */
	/* --h1-font-size: 1.6rem; */
	/* --h3-font-size: 1.4rem; */
	/* --p-font-size: 0.8rem; */
	--bg-aqua: aquamarine;
	--bg-green: chartreuse;
	--box-shadow: 3px 5px 15px rgba(255, 255, 255, 0.25);
	--box-shadow-active: 1px 1px 7px rgba(0, 0, 0, 0.15);
	--bg-color: black;
	--bg: black;
	/* --bg: linear-gradient(to right, black, #194000 80% 100%); */
	/* --bg: linear-gradient(to right, rgba(9, 37, 8, 0.334), #19400096 80% 100%); */
	/* --bg: linear-gradient(to right, #254e0861, #19400096 80% 100%); */
	--font-color: white;
	--white: white;
	--bold-txt: 900;

	--bg-grad-text: radial-gradient(
		circle farthest-corner at 10% 20%,
		var(--font-color) 0%,
		rgba(117, 86, 204, 1) 45%,
		rgba(213, 105, 167, 1) 90%
	);

	/* --font-name: 2.2rem; */
	/* --letter-spacing: 1.4px; */

	/* --minimal-border: 1.4px; */
	/* --border-radius: 4.4px; */

	/* --particle-color: #7556cc;
		--particle-shape-stroke: #ffffff; */

	/* --content-width: calc(100vw - var(--sidebar-vw)); */
	/* --content-width-section: calc(var(--content-width) - 15vw); */

	/* --content-padding: 2.5rem; */
	--glass-card-bg: rgba(149, 144, 144, 0.55);
	--glass-blur: 1px;

	--border: 1px solid var(--bg-aqua);
	/* --margin-setail-section: 30px 2px; */

	/* theme button */
	--theme-bg-color: #2a2a2a;
	--theme-light-color: #00a6ff;
	--theme-light-sun-color: #ffcf48;
	/* theme button */

	--transition: background 0.3s ease;
}

::before,
::after,
* {
	color: var(--font-color);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Delius", cursive;
	font-weight: 400;
	font-style: normal;
	letter-spacing: var(--letter-spacing);

	/* outline: yellowgreen dotted 10px; */
	/* border: 5px solid red; */
}

h1 {
	font-size: var(--h1-font-size);
}

h3 {
	font-size: var(--h3-font-size);
}

img {
	font-style: italic;
}

abbr {
	text-decoration: none;
	display: inline;
}

.button {
	color: black;
	/* background: var(--particle-color); */
	border-radius: var(--border-radius);
	margin: 10px;
	padding: 8px 13px;
	width: max-content;
	box-shadow: var(--box-shadow);
	transition: color 0.7s, box-shadow 0.7s;
	border: var(--border);
	cursor: pointer;
}

.button:hover {
	color: var(--bg-green);
	box-shadow: 0 0 10px var(--bg-green);
}

.bg-grad {
	width: max-content;
	text-align: center;
	/* background-color: rgb(255, 178, 62); */
	background-image: var(--bg-grad-text);
	background-size: 100%;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* ########## */

.display_none {
	display: none !important;
}

.resume {
	display: flex;
	background-color: var(--bg-color);
	/* background: var(--bg), var(--bg-color); */

	/* background: var(--glass-card-bg); */
}

/* .profile-img */
.resume #profile-img {
	position: fixed;
	right: 0;
	height: 100svh;
	z-index: 0;
	cursor: pointer;
	user-select: none;

	/* mask-image: linear-gradient(100deg, transparent 31%, black 54%, black 100%);
	-webkit-mask-image: linear-gradient(100deg, transparent 31%, black 54%, black 100%);
	 */

	mask-image: linear-gradient(100deg, transparent 18%, black 59%, black 100%);
	-webkit-mask-image: linear-gradient(100deg, transparent 18%, black 59%, black 100%);
}

/* sidebar */
.sidebar {
	user-select: none;
	padding: 30svh 20px 20svh 20px;
	min-height: 100svh;
	min-width: var(--sidebar-vw);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* background-color: aqua; */
}

.sidebar_list {
	min-width: 200px;
	width: 40%;
	padding: 8px 13px;
	display: flex;
	justify-content: start;
	align-items: center;
	border: 1px solid transparent;
	border-radius: 20px;
	position: relative;
}

.sidebar_list:hover {
	box-shadow: var(--box-shadow);
	background: var(--glass-card-bg);
}

.active {
	background: var(--glass-card-bg);
	box-shadow: var(--box-shadow-active);
}

.active::after {
	content: "";
	/* height: 14px;
	width: 6px;
	position: absolute;
	top: 33%;
	right: 11px; */
	height: 6px;
	width: 19px;
	position: absolute;
	top: 47%;
	right: 17px;

	border-radius: 10px;
	background-color: var(--bg-aqua);
	box-shadow: var(--box-shadow);
}

/* content */
.content {
	height: 100svh;
	width: var(--content-width);
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
}

/* contents profile */
.bold_txt {
	font-weight: var(--bold-txt);
}

.name {
	font-size: var(--font-name);
}

.icon {
	margin-top: 13px;
}

.icon:hover > a:not(:hover) {
	filter: blur(var(--glass-blur));
}

.icon a img {
	height: 26px;
	width: 26px;
	margin-right: 10px;
}

/* .cv a img {
	margin: 0;
} */

.cv {
	padding-top: 4px;
	padding-left: 6px;
	display: inline-block;
	/* background-color: var(--bg-aqua); */
	border-radius: var(--minimal-border);
}

/* .cv:hover {
	background-color: var(--bg-green);
} */

/* .cv #resume {
	font-weight: bolder;
	color: black;
} */

/* resume button */
/* From Uiverse.io by alexmaracinaru */
.cta {
	border: none;
	background: none;
	cursor: pointer;

	& span {
		color: var(--font-color);
		padding-bottom: 7px;
		letter-spacing: 4px;
		font-size: 14px;
		padding-right: 15px;
		text-transform: uppercase;
	}
	& svg {
		fill: var(--font-color);
		transform: translateX(-8px);
		transition: all 0.3s ease;
	}
}

.cta:hover svg {
	transform: translateX(0);
}

.cta:active svg {
	transform: scale(0.9);
}

.hover-underline-animation {
	position: relative;
	color: var(--font-color);
	padding-bottom: 20px;
}

.hover-underline-animation:after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--font-color);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

/* resume button */

/* ABOUT SECTION */
#about,
#experience,
#explored-technologies,
#game {
	padding: var(--content-padding);
	max-height: 80svh;
	max-width: var(--content-width-section);
	background: var(--glass-card-bg);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	backdrop-filter: blur(var(--glass-blur));
	-webkit-backdrop-filter: blur(var(--glass-blur));
	border: var(--border);
	overflow-y: auto;
}

#about details,
#experience details {
	cursor: pointer;
	margin: 20px;
}

#about details span {
	display: inline-block;
	padding: 5px 10px;
	margin: 3px 2px;
	color: var(--white);
	background-color: var(--bg-green);
	border: none;
	border-radius: 25px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

#about details span:hover {
	background-color: var(--bg-aqua);
}

#experience details div {
	margin: var(--margin-setail-section);
}

#experience details h4 {
	margin: var(--margin-setail-section);
}

#experience details summary a {
	text-decoration: none;
}

/* ################### */
/* Theme Switch */
#switch {
	position: fixed;
	bottom: 4rem;
	right: 4rem;
	z-index: 10;
}

.switch {
	font-size: 17px;
	position: relative;
	display: inline-block;
	width: 3.7em;
	height: 2em;
	/* width: 4em;
	height: 2.2em; */
	border-radius: 30px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	outline: 2px solid var(--bg-aqua);
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--theme-bg-color);
	transition: 0.4s;
	border-radius: 30px;
	overflow: hidden;
}

.slider:before {
	position: absolute;
	content: "";
	height: 1.2em;
	width: 1.2em;
	border-radius: 20px;
	left: 0.5em;
	bottom: 0.5em;
	transition: 0.4s;
	transition-timing-function: cubic-bezier(0.81, -0.04, 0.38, 1.5);
	box-shadow: inset 8px -4px 0px 0px #fff;
}

.switch input:checked + .slider {
	background-color: var(--theme-light-color);
}

.switch input:checked + .slider:before {
	transform: translateX(1.8em);
	box-shadow: inset 15px -4px 0px 15px var(--theme-light-sun-color);
}

.star {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	width: 5px;
	transition: all 0.4s;
	height: 5px;
}

.star_1 {
	left: 2.5em;
	top: 0.5em;
}

.star_2 {
	left: 2.2em;
	top: 1.2em;
}

.star_3 {
	left: 3em;
	top: 0.9em;
}

.switch input:checked ~ .slider .star {
	opacity: 0;
}

.cloud {
	width: 3.5em;
	position: absolute;
	bottom: -1.4em;
	left: -1.1em;
	opacity: 0;
	transition: all 0.4s;
}

.switch input:checked ~ .slider .cloud {
	opacity: 1;
}

/* ################### */

/* game */
#game {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	user-select: none;
}

#game .game-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#game .game-row {
	display: flex;
}

#game .game-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#game .box {
	height: 100px;
	width: 100px;
	font-size: 50px;
	border: none;
	margin: 10px 10px 0 0;
	background: var(--bg-aqua);
	border-radius: var(--border-radius);
	transition: var(--transition);
}
#game .box:hover {
	background: var(--bg-green);
}

/* ################### */

#particles-js {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100lvh;
	background-color: transparent;
	z-index: 0;
	pointer-events: none;
	user-select: none;
}

.nav-ico-container {
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	display: none;
	border: 1px solid red;
	border-left: 0;
	border-top: 0;
	padding: 20px 16px;
	border-radius: 0% 17% 87% 0% / 25% 13% 81% 25%;

	background: var(--glass-card-bg);
	box-shadow: var(--box-shadow);
	backdrop-filter: blur(var(--glass-blur));
	-webkit-backdrop-filter: blur(var(--glass-blur));
	border: var(--border);
	overflow-y: auto;
}

#navIco {
	/* display: none; */
	height: 30px;
}

/* Responsive content */

@media (max-width: 992px) {
	.sidebar {
		display: none;
		/* display: block; */
		position: fixed;
		top: 0;
		z-index: 6;

		height: 10px !important;
		width: 90%;

		background: var(--glass-card-bg);
		border-radius: var(--border-radius);
		box-shadow: var(--box-shadow);
		backdrop-filter: blur(var(--glass-blur));
		-webkit-backdrop-filter: blur(var(--glass-blur));
		border: var(--border);
		overflow-y: auto;
	}

	.nav-ico-container {
		display: block;
	}

	#profile {
		width: 100vw;
		margin-left: 15vw;
	}

	#switch {
		display: none;
	}

	#content {
		height: 100svh;
		width: 100vw;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#about,
	#experience,
	#explored-technologies,
	#game {
		padding: var(--content-padding);
		max-height: 80svh;
		max-width: 90vw;
	}

	#game {
		height: fit-content;
	}
}
