@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap");

:root {
	--sidebar-vw: 40vw;
	--text-opacity: 0.6;
	--h1-font-size: 1.6rem;
	--h3-font-size: 1.4rem;
	--p-font-size: 0.8rem;
	--bg-aqua: aquamarine;
	--bg-green: chartreuse;
	--box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.25);
	--box-shadow-active: 1px 1px 7px rgba(0, 0, 0, 0.15);
	--white: white;
	--bold-txt: 900;
}

::before,
::after,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Delius", cursive;
	font-weight: 400;
	font-style: normal;

	/* outline: yellowgreen dotted 1px; */
}

h1 {
	font-size: var(--h1-font-size);
}

h3 {
	font-size: var(--h3-font-size);
}

img {
	font-style: italic;
}

abbr {
	text-decoration: none;
	display: inline;
}

.display_none {
	display: none;
}

.resume {
	display: flex;
}

/* sidebar */
.sidebar {
	user-select: none;
	min-height: 100vh;
	min-width: var(--sidebar-vw);
	padding: 30vh 20px 30vh 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sidebar_list {
	min-width: 200px;
	width: 40%;
	padding: 8px 13px;
	display: flex;
	justify-content: start;
	border: 1px solid transparent;
	border-radius: 20px;
	position: relative;
}

.sidebar_list:hover {
	box-shadow: var(--box-shadow);
}

.active {
	box-shadow: var(--box-shadow-active);
}

.active::after {
	content: "";
	/* height: 14px;
	width: 6px;
	position: absolute;
	top: 33%;
	right: 11px; */
	height: 6px;
	width: 19px;
	position: absolute;
	top: 47%;
	right: 17px;

	border-radius: 10px;
	background-color: var(--bg-aqua);
	box-shadow: var(--box-shadow);
}

/* content */
.content {
	height: 100vh;
	width: calc(100vw - var(--sidebar-vw));
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
}

/* contents profile */
.bold_txt {
	font-weight: var(--bold-txt);
}

.icon {
	margin-top: 13px;
}

.icon:hover > a:not(:hover) {
	filter: blur(1px);
}

.icon a img {
	height: 26px;
	width: 26px;
	margin-right: 10px;
}

.cv a img {
	margin: 0;
}

.cv {
	padding-top: 4px;
	padding-left: 6px;
	display: inline-block;
	background-color: var(--bg-aqua);
}

.cv:hover {
	background-color: var(--bg-green);
}
